version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: khadija
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
